@charset "UFT-8";

/*:root{

}*/



*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;

}

header{
    background-color: black;
    color: white;
    text-align: center;
}

#h1 {
    padding-top: 50px;
    font-variant: small-caps;

}

#p1 {
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal{
    background-color: white;
    color: black;
   
}

.imagem{
    background-color: rgba(0, 0, 0, 0.255);
    color: white;

}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
}


#sec2{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}


#sec4{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: center left;
    background-size: cover;
    background-attachment: fixed;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
